{% extends 'layout.html' %}

{% block content %}
<div>
    <h1>Locations List</h1>
</div>
<div>
    <a class="btn btn-sm btn-primary" href="{{ url_for('location') }}">Add location</a>
</div>
<hr>
<table class="table table-striped">
    <tr>
        <th>Sr no</th>
        <th>Name</th>
        <th>Action</th>
    </tr>
    
    {% for location in list%}
    <tr>
        <td>
            {{ loop.index }}
        </td>
        <td width="80%">
            {{ location.location_name }}
        </td>
        <td>
            <a href="/location/{{ location.id }}">Edit</a> | <a href="/location/delete/{{ location.id }}">Delete</a>
        </td>
    </tr>
    {% endfor %}
    
</table>

    
{% endblock %}