{% extends 'layout.html' %}

{% block content %}
<div>
    <h1>Product List</h1>
</div>

<hr>
<table class="table table-striped">
    <tr>
        <th>Sr no</th>
        <th>Name</th>
        <th>Location</th>
        <th>Qty</th>
    </tr>
    
    {% for product in list%}
    <tr>
        <td>
            {{ loop.index }}
        </td>
        <td width="60%">
                {{ product.product.product_name }}
        </td>
        <td>
                {{ product.locaion.location_name }}
        </td>
        <td>
                {{product.qty}}
        </td>
    </tr>
    {% endfor %}
    
</table>
{% endblock %}